/* responsive.css */

@media screen and (max-width: 934px) {
  .home-content h3,
  h1 {
    font-size: 2rem;
  }
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
  height: 50px;
  align-items: center;
}

/* Styles for screens up to 950px (similar to the previous code) */

@media screen and (max-width: 768px) {
  /* Tablet Styles */

  .navbar a {
    display: none;
  }

  #menu-icon {
    display: inline-flex;
    cursor: pointer;
  }

  .home {
    flex-direction: column; /* Set flex-direction to column on tablets */
    align-items: center; /* Center items horizontally on tablets */
  }

  .home-content {
    text-align: center; /* Center text content on tablets */
    order: 2; /* Change the order of text content on tablets */
  }

  .home-img {
    order: 1; /* Change the order of image on tablets */
  }

  .home-img img {
    width: 100%;
    max-width: none;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  /* Smartphone Styles */

  body {
    overflow-x: hidden;
  }

  .home {
    flex-direction: column; /* Set flex-direction to column on smartphones */
    align-items: center; /* Center items horizontally on smartphones */
  }

  .home-content {
    text-align: center; /* Center text content on smartphones */
    order: 2; /* Change the order of text content on smartphones */
  }

  .home-img {
    order: 1; /* Change the order of image on smartphones */
  }
}

/* Media Query for Smartphone Portrait (360px) */
@media screen and (max-width: 360px) {
  .portfolio-content {
    padding: 0 10px; /* Mengurangi padding di sisi kanan dan kiri */
  }

  .portfolio-card {
    flex-direction: column;
  }
}

/* styles.css atau responsive.css */

/* Style untuk modal */
.modal {
  z-index: 10000000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 80px;
  border-radius: 10px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

/* Style untuk item menu dalam modal */
.menu-item {
  display: block;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
  font-size: 18px;
}
